.HeaderContainer{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.NavContainer .nav-logo-black{ 
    transition-property: object-fit;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.NavContainer{
    
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    border-radius: 1.5rem; 
    align-items: center;
    margin-top: 20px;
    width: 94%;
    height: 3rem;
    color: white;
    /* background-color: #080c1c; */
    background-color: var(--clr-bg);
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    z-index: 9999;

    transition-property: width,margin-top,align-items,border-radius,height;
    transition-duration: 0.3s;
    transition-timing-function: ease;

     @media (max-width: 1080px) {
        padding-top: 5px;
        padding-bottom: 5px;
     }
}

.NavContainerFull{
 padding-left: 24px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed; 
    height: 3rem;
    width: 100%;
    margin-top:0;
    border-radius: 0;
    color: white;
    background-color: var(--clr-bg);
    padding-top: 24px;
    padding-bottom: 24px;
    z-index: 9999;

    transition-property: width,margin-top,align-items,border-radius,height,padding-top;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
  
.container{
    height: 100%;
    display: flex;
    align-items: center; 
    margin: auto;
    max-width: 90rem;
    gap: 3rem;
    justify-content: space-between;
    padding-right: 30px;

    @media (max-width: 1080px) {
        justify-content: center;
        padding-left: 20px;
    }
}

.cs-ul{
    display: flex;
    gap: 1.5rem;
}

.cs-li{
    list-style: none;
}

ul{
    padding: 0;

}

 

a{
    font-weight: 900;
    font-size:15px;
    font-size: clamp(10px,1vw,15px);
}

.nav-text{
    
}

/* .cs-button-solid{
    background-color: white;
    color: black;
    padding: 1rem 2rem;
    border-radius: 3.75rem; 
} */

.position-relative{
    position: relative;
}

a{
    color: white;
    text-decoration: none;
}

.NavBar{
    @media (max-width: 1080px) {
        display: none;
        
    } 
}

.nav-button{
     @media (max-width: 1080px) {
        display: none;
        
    } 
}

.nav-logo{
    object-fit: cover;
    height: 100%; 
}

.nav-logo-black{
    object-fit: cover;
    height: 100%; 
}

/* Hide white logo */
.LogoContainer img:first-child{
    display: none;
}

/* Hide black logo */
.dark .LogoContainer img:last-child{
    display: none;
}

/* Then show white logo */
.dark .LogoContainer img:first-child{
    display: block;
}
 
/* Hide moon */
.ThemeContainer svg:first-child{
    display: none;
}

/* Hide Sun */
.dark .ThemeContainer svg:last-child{
    display: none;
}

/* Then show moon */
.dark .ThemeContainer svg:first-child{
    display: block;
}

.Text-Color{
    color: var(--clr-text);
}

.SVG-Color{
 
}