.HeaderContainer{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.NavContainer .nav-logo-black{ 
    transition-property: object-fit;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.NavContainer{
    
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    border-radius: 1.5rem; 
    align-items: center;
    margin-top: 20px;
    width: 94%;
    height: 4rem;
    color: white;
    /* background-color: #080c1c; */
    background-color: var(--clr-bg);
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    z-index: 9999;

    transition-property: width,margin-top,align-items,border-radius,height;
    transition-duration: 0.3s;
    transition-timing-function: ease;

     @media (max-width: 1080px) {
        padding-top: 5px;
        padding-bottom: 5px;
     }
}

.NavContainerFull{
 padding-left: 24px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed; 
    height: 4rem;
    width: 100%;
    margin-top:0;
    border-radius: 0;
    color: white;
    background-color: var(--clr-bg);
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    z-index: 9999;

    transition-property: width,margin-top,align-items,border-radius,height,padding-top;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
  
.container{
    height: 100%;
    display: flex;
    align-items: center; 
    margin: auto;
    max-width: 90rem;
    gap: 3rem;
    justify-content: space-between;
    padding-right: 30px;

    @media (max-width: 1080px) {
        justify-content: center;
        padding-left: 20px;
    }
}

.cs-ul{
    display: flex;
    gap: 1.5rem;
}

.cs-li{
    list-style: none;
}

ul{
    padding: 0;

}

 

a{
    font-weight: 900;
    font-size:15px;
    font-size: clamp(10px,1vw,15px);
}

.nav-text{
    font-size: 15px;
}

/* .cs-button-solid{
    background-color: white;
    color: black;
    padding: 1rem 2rem;
    border-radius: 3.75rem; 
} */

.position-relative{
    position: relative;
}

a{
    color: white;
    text-decoration: none;
}

.NavBar{
    @media (max-width: 1080px) {
        display: none;
        
    } 
}

.nav-button{
     @media (max-width: 1080px) {
        display: none;
        
    } 
}

.nav-logo{
    object-fit: cover;
    height: 100%; 

    @media (max-width: 1080px) {
        width: 150px;
        
    } 
}

.nav-logo-black{
    object-fit: cover;
    height: 100%; 

    @media (max-width: 1080px) {
        width: 150px;
        
    } 
}

/* Hide white logo */
.LogoContainer img:nth-child(1){
    display: none;
}

/* Hide black logo */
.dark .LogoContainer img:nth-child(2){
    display: none;
}

/* Then show white logo */
.dark .LogoContainer img:nth-child(1){
    display: block;
}
 
/* Hide moon */
.ThemeContainer svg:first-child{
    display: none;
}

/* Hide Sun */
.dark .ThemeContainer svg:last-child{
    display: none;
}

/* Then show moon */
.dark .ThemeContainer svg:first-child{
    display: block;
}

.Text-Color{
    color: var(--clr-text);
}

.Reverse-Text-Color{
    color: var(--clr-text-reverse);
}

.SVG-Color{
 
}

@keyframes neonGlow {
        0%, 100% {
            text-shadow: 0 0 10px #43b7ff, 0 0 20px #43b7ff, 0 0 40px #43b7ff, 0 0 50px #43b7ff, 0 0 60px #43b7ff;
            color: #abe1fe;
            filter: blur(2px);
        }

        5%, 95% {
            text-shadow: 0;
            color: #fff;
            filter: blur(0px);
        }
    }



.neon {     
        visibility: visible;
        opacity: 1;
        display: block;
        position: absolute; 
        bottom: -1rem;
        left: 6.5rem;

        @media (max-width: 1080px) {
            bottom: -0.7rem;     
            left: 5.5rem;   
        } 
}

.NavContainerFull .neon{
 
}

/* show Neon */
.dark .neon{
    display: block;
}
 
/* Hide Neon */
.neon{
    display: none;
}
  
.yellowtail-regular {
  font-family: "Yellowtail", cursive;
  font-weight: 400;
  font-style: normal;
}

.neon span {
        display: table-cell;
        margin: 0;
        padding: 0;
        font-family: var(--navNeon);
        font-size: clamp(1rem, 1.2vw, 1.5rem);
        color: #abe1fe;
        animation: neonGlow 3s linear infinite;
        font-family: "Yellowtail", "Adjusted Verdana Fallback", "Verdana", sans-serif;
}

    .neon span:nth-child(1),  .neon span:nth-child(2),  .neon span:nth-child(4) {
        animation-delay: 1s;
    }

     .neon span:nth-child(3) {
        animation-delay: 1.2s;
    }

     .neon span:nth-child(5) {
        margin-right: 3px !important;
        animation-delay: 2s;
    }

     .neon span:nth-child(6) {
        animation-delay: 2.45s;
    }

     .neon span:nth-child(7),  .neon span:nth-child(8),  .neon span:nth-child(9) {
        animation-delay: 2.75s;
    }

    .LogoContainer{
        position: relative;
    }

    .RightContainer{
        
    display: flex;
    gap: 2rem;
    align-items: center;

    }


.HamburgerSVG{
    display: none;
    @media (max-width: 1020px) {
        display: block;
    }
}

.HamburgerSVG > *{
    stroke: black;    

    transition-property: stroke;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
.dark .HamburgerSVG > *{
    stroke: white;

}

.MobileNavMenuContainer{
    display: none;
    @media (max-width: 1020px) {
        display: block;
    }
    opacity: 0;
    position: absolute;
    background-color: var(--clr-bg);
    border-radius: 1.5rem;
    width: 100%;
    top: 0rem;
    left: 0;
    z-index: -1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    transition-property: opacity,top;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
}

.MobileNavMenuContainerOpen{
    display: none;
    @media (max-width: 1020px) {
        display: block;
    }
    opacity: 1;
    position: absolute;
    background-color: var(--clr-bg);
    border-radius: 1.5rem;
    width: 100%;
    top: 1rem;
    left: 0;
    z-index: -1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    transition-property: opacity,top;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
}

.MobileNavMenu{
    padding: 6.25rem 0 0 0;
}

.MobileNavMenuList{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    gap: 1rem;
}

.MobileNavMenuList > * { 
    color: var(--clr-text);
    font-weight: 900;
    
}

.MobileLink{
    font-size: 15px !important;
}

.Position-Relative{
    position: relative;
}

.SubNavMenu{
    opacity: 0;
    background-color: var(--clr-bg);
    border-radius: 0.5rem;
    position: absolute; 
    min-width: 12rem;
    min-height: 7rem; 
    padding-top: 50px;

    border-bottom: 5px solid var(--clr-border);

    transition-property: opacity,padding-top;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.SubNavMenu > *{
    list-style: none;
} 

.SubNavMenuOpen{
    opacity: 1;
    background-color: var(--clr-bg);
    border-radius: 0.5rem;
    position: absolute; 
    min-width: 12rem;
    min-height: 7rem;
    padding-top: 50px;
    
    border-bottom: 5px solid var(--clr-border);
    
    transition-property: opacity,padding-top;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.SubNavMenuOpen > *{
    list-style: none;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.SubMenuItem{
    list-style: none;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.SubMenuItem:hover{
    background-color: #f7f7f7; 
}

.SubMenuItem:hover > *{
    color: var(--clr-txt-hover); 

    transition-property:color ;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}


.CollapseSubMenuSVG{
    position: absolute;
    fill: black;
    top: 3px;
} 

.dark .CollapseSubMenuSVG{
    position: absolute;
    fill: white;
    top: 3px;
}

.MobileSubMenuContainer{
    display: none;
    opacity: 0;
    transform: scale(0);
    margin: 10px;
    background-color: var(--clr-bg-secondary-price);
    width:90%;
    border-radius: 0.5rem;
    padding-top: 10px;
    padding-bottom: 10px;

    transition-property: opacity;
    transition-duration: 5s;
    transition-timing-function: ease-in;
}

.MobileSubMenuContainerOpen{
    display: block;
    opacity: 1;
    transform: scale(1);
    margin: 10px;
    background-color: var(--clr-bg-secondary-price); 
    border-radius: 0.5rem;
    padding-top: 10px;
    padding-bottom: 10px;

    padding-left: 20px;
    padding-right: 20px;
    transition-property: opacity;
    transition-duration: 5s;
    transition-timing-function: ease-in;
}

.dark .MobileSubMenuContainerOpen{
    border: 1px solid white;
        box-shadow: rgba(67, 183, 255, 0.2) 0px 0px 14px 0px, rgba(67, 183, 255, 0.2) 0px 0px 49px 0px inset, rgba(67, 183, 255, 0.2) 0px 0px 14px 0px inset, rgba(67, 183, 255, 0.2) 0px 0px 54px 0px;
}
.MobileServiceSubMenuList{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MobileMenuItem{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.Color-White{
    color: white;
}